# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# OS/IDE settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

# Deployment artifacts
.elasticbeanstalk/
*.zip
dist/
build/
*.egg-info/
